<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<div class="title_container">
	<h2><span designElement="text" textIndex="1">회원정보 입력</span></h2>
</div>
<div class="mypage_greeting Pb30">
	<span class="pilsu_icon"></span> <span designElement="text" textIndex="2">모든 항목은 <span class="pointcolor">필수 입력</span> 항목입니다.</span>
</div>

<div class="resp_member_join_wrap">
 <div id="formMemberArea" class="resp_member_join">
	<input type="hidden" name="kid_agree" value=""/>
	<div class="resp_join_table">
			<ul class="required">
				<li class="th "><p designElement="text" textIndex="8" >아이디</p></li>
				<li class="td">
						<input type="text" id="userid" name="userid" autocapitalize="off" value="" class="eng_only" placeholder="공백 없는 영문/숫자 포함 6~20자" />
						<p id="id_info" class="guide_text"></p>
				</li>
			</ul>
				<ul class="required">
					<li class="th "><p designElement="text" textIndex="11" >비밀번호</p></li>
					<li class="td">
						<input type="password" value="" name="userpw" class="eng_only class_check_password_validation" />
					</li>
				</ul>
				<ul class="required">
					<li class="th "><p designElement="text" textIndex="12" >비밀번호 확인</p></li>
					<li class="td">
						<input type="password" value="" name="userpw2" class="eng_only" />
					</li>
				</ul>
				<ul class="required">
					<li class="th"><p designElement="text" textIndex="13" >이름</p></li>
					<li class="td">
						<input type="text" value="" name="username" />
					</li>
				</ul>
			<ul class="required">
				<li class="th "><p designElement="text" textIndex="14" >이메일</p></li>
				<li class="td">
					<input type="text" value="" name="useremail1" id="useremail1" class="size_mail1" onkeyup="inputemail();"/> @
					<input type="text" value="" name="useremail2" id="useremail2" class="size_mail2" onkeyup="inputemail();"/>
					<select id="find_email" name="find_email" onchange="inputemail();">
						<option value="">직접입력</option>
							<option value="naver.com">naver.com</option>
							<option value="nate.com">nate.com</option>
							<option value="dreamwiz.com">dreamwiz.com</option>
							<option value="yahoo.co.kr">yahoo.co.kr</option>
							<option value="empal.com">empal.com</option>
							<option value="unitel.co.kr">unitel.co.kr</option>
							<option value="gmail.com">gmail.com</option>
							<option value="korea.com">korea.com</option>
							<option value="chol.com">chol.com</option>
							<option value="paran.com">paran.com</option>
							<option value="freechal.com">freechal.com</option>
							<option value="hanmail.net">hanmail.net</option>
							<option value="hotmail.com">hotmail.com</option>
					</select>
				<input type="hidden" name="useremail" id="useremail" value="">
				</li>
			</ul>
			<ul class="required">
				<li class="th "><p designElement="text" textIndex="16" >휴대폰번호</p></li>
				<li class="td">
					<input type="tel" value="" id="userphone1" class="size_phone" maxlength="3" onkeyup="tel();"/> -
					<input type="tel" value="" id="userphone2" class="size_phone" maxlength="4" onkeyup="tel();"/> -
					<input type="tel" value="" id="userphone3" class="size_phone" maxlength="4" onkeyup="tel();"/>
					<input type="hidden" name="userphone" id="userphone" value="">
				</li>
			</ul>
			<ul >
				<li class="th "><p designElement="text" textIndex="22" >주소</p></li>
				<li class="td">
					<input type="hidden" value=""/>
					<input type="text" value="" id="postcode" name="userzip" class="size_zip_all" readonly />
					<button type="button" class="btn_resp size_b color4" id="address_search" onclick="sample6_execDaumPostcode()"><span designElement="text" textIndex="23" >주소찾기</span></button>
					<div class="address_area">
						<input type="text" id="address" name="address" value="" class="address size_full " readonly />
					</div>
						<div class="address_area">
						<input type="text" id="detailAddress" name="detailAddress" value="" class="address_street size_full" onkeyup="addr();" />
						</div>
					<input type="hidden" name="useraddr" id="useraddr" value="">	
					<p id="address_view" style="padding-top:5px; display:none;"></p>
				</li>
			</ul>

	</div>
</div>

<script>
/*주소 합치기*/
function addr(){
	let add = document.getElementById("address").value +" "+ document.getElementById("detailAddress").value;
	document.getElementById("useraddr").value=add;
}

/*전화번호 합치기*/
function tel(){
	let t = document.getElementById("userphone1").value + document.getElementById("userphone2").value + document.getElementById("userphone3").value ;
	document.getElementById("userphone").value=t;
}
 
/*입력완료*/
 function memberjoin(){
	if(f.userid.value==""){
		alert("아이디를 입력하세요");
		f.userid.focus();
	}else if(f.userpw.value==""){
		alert("비밀번호를 입력하세요");
		f.userpw.focus();
	}else if(f.userpw2.value==""){
			alert("비밀번호 확인을 입력하세요");
			f.userpw2.focus();
	}else if(f.username.value==""){
		alert("이름을 입력하세요");
		f.username.focus();
	}else if(f.useremail1.value==""){
		alert("이메일주소를 입력하세요");
		f.useremail1.focus();
	}else if(f.useremail2.value==""){
		alert("이메일주소의 도메인을 선택하거나 직접 입력 해 주세요.");
		f.useremail2.focus();
	}else if(f.userphone1.value== ""){
		alert("정확한 전화번호를 입력해 주세요.");
		f.userphone1.focus();
	}else if(f.userphone2.value== ""){
		alert("정확한 전화번호를 입력해 주세요.");
		f.userphone2.focus();
	}else if(f.userphone3.value== ""){
		alert("정확한 전화번호를 입력해 주세요.");
		f.userphone3.focus();
	}else if(f.postcode.value =="" || f.address.value==""){
		alert("주소 검색을 해주세요");
		f.address_search.focus();
	}else if(f.detailAddress.value ==""){
		alert("상세주소를 입력 해주세요");
		f.detailAddress.focus();	
	}else {
		if(confirm("회원 가입을 진행합니다."))
		f.action="joinok";
		f.submit();
	}
	
}

/*이메일주소 도메인 자동 입력*/
function inputemail(){
	document.getElementById("useremail2").value=document.getElementById("find_email").value;
	
	let email =document.getElementById("useremail1").value +"@"+ document.getElementById("useremail2").value;
	document.getElementById("useremail").value = email;
	
}

/*다음 주소검색 api*/
function sample6_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById("postcode").value = data.zonecode;
            document.getElementById("address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("detailAddress").focus();
        }
    }).open();
}

	$(function(){
		$(".selectLabelSet").each(function(){
			var selectLabelSetObj = $(this);
			$("select.selectLabelDepth1",selectLabelSetObj).bind('change',function(){
				var childs = $("option:selected",this).attr('childs').split(';');
				var joinform_seq = $(this).attr('joinform_seq');
				var select2 = $("input.hiddenLabelDepth[type='hidden'][joinform_seq='"+joinform_seq+"']").val();
				if(childs[0]){
					$(".selectsubDepth",selectLabelSetObj).show();
					$("select.selectLabelDepth2[joinform_seq='"+joinform_seq+"']").empty();
					for(var i=0; i< childs.length ; i++){
						$("select.selectLabelDepth2[joinform_seq='"+joinform_seq+"']")
						.append("<option value='"+childs[i]+"'>"+childs[i]+"</option>");
					}
				}else{
					$(".selectsubDepth",selectLabelSetObj).hide();
				}
				$("select.selectLabelDepth2 option[value='"+select2+"']").attr('selected',true);
			}).trigger('change');
		});


		/* ========== 반응형 프론트엔드 추가 ========= */
		// designed radio UI
		$('.designed_radio_checkbox input[type=radio]').closest('.designed_radio_checkbox').addClass('type_radio');
		$('.designed_radio_checkbox input[checked]').parent('label').addClass('on');

		$('.designed_radio_checkbox input[type=radio]').on('change', function() {
			$(this).parent().parent().find('label').removeClass('on');
			$(this).parent('label').addClass('on');
		});
		// designed checkbox UI
		$('.designed_radio_checkbox input[type=checkbox]').on('change', function() {
			if ( $(this).prop('checked') ) {
				$(this).parent('label').addClass('on');
			} else {
				$(this).parent('label').removeClass('on');
			}
		});
		/* ========== //반응형 프론트엔드 추가 ========= */
	});
</script>
	<!-- ------- //회원가입 입력폼 ------- -->

	<div id="btn_register" class="btn_area_c">
		<button type="button" onclick="memberjoin();" class="btn_resp size_c color2 Wmax">
		<span designElement="text">입력 완료</span>
		</button>
	</div>
</div>